.places__buy-link {
  background-color: rgba(2, 120, 254, 1);
  width: 248px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s linear 0.1s;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  grid-column-start: 1;
}

@media screen and (max-width: 560px) {
  .places__buy-link {
    width: 288px;
    height: 48px;
    margin: 30px auto 0;
  }
}

.places__buy-link:hover {
  background-color: rgba(0, 99, 210, 1);
  transition: background-color 1s linear 0.1s;
}
