.places__image-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 560px) {
  .places__image-container {
    margin: 30px auto 0;
    width: 90vw;
  }
}

@media screen and (max-width: 320px) {
  .places__image-container {
    width: 320px;
    height: 320px;
  }
}
