.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/gg.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 746px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    min-height: 560px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-height: 254px;
    min-height: 254px;
  }
}
